.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --black: #000000;
  --blue: #2196f3;
  --dark-grey: #212121;
  --grey: #757575;
  --dark-blue: #2f303a;
  --white: #ffffff;
  --background-team: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  outline: 1px solid #ececec;
  position: relative;
}

.header-f {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.nav {
  display: flex;
  margin-left: 68px;
}

.nav-li {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--blue);
}

.nav-ul {
  margin-right: auto;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
}

.header-email {
  display: block;
  display: flex;
  margin-right: 50px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  display: block;
  display: flex;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-cont-div {
  display: block;
  display: flex;
  justify-content: center;
}

.soc-svg-header {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contct-fill {
  display: flex;
  justify-content: center;
  fill: #afb1b8;
  justify-items: baseline;
}

.header-email:hover,
.header-email:focus {
  color: #2196f3;
}

.header-email:hover .soc-svg-header {
  fill: #2196f3;
}

.header-email:focus .soc-svg-header {
  fill: #2196f3;
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.header-tel:hover .soc-svg-header {
  fill: #2196f3;
}

.header-tel:focus .soc-svg-header {
  fill: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_hero.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.hero-btn {
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-li {
  width: 270px;
}

.about-list-h {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.about-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-icon {
  background-color: #f5f4fa;
}

.what {
  padding-bottom: 94px;
}

.what-h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.what-ul {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.what-item {
  position: relative;
}

.what-text {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  bottom: 0;
}

.team {
  background: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.team-ul {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-h3-p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 16px;
}

.soc-team-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-team-li {
  width: 44px;
  height: 44px;
}

.soc-team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-team-link:hover,
.soc-team-link:focus {
  background-color: #2196f3;
}

.soc-team-link:hover .soc-svg {
  fill: #ffffff;
}

.soc-team-link:focus .soc-svg {
  fill: #ffffff;
}

.clients-pad {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.clients-ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 2px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-svg {
  fill: #2196f3;
}

.clients-link:focus .clients-svg {
  fill: #2196f3;
}

.footer {
  background: var(--dark-blue);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-ul {
  display: flex;
}

.footer-li {
  margin-bottom: 9px;
}

.footer-adress {
  margin-top: 20px;
}

.footer-maps {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-maps:hover,
.footer-maps:focus {
  color: var(--blue);
}

.footer-email {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:hover,
.footer-email:focus {
  color: var(--blue);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--blue);
}

.footer-flex {
  display: flex;
}

.attach {
  margin-left: 70px;
  padding-top: 10px;
}

.attach-p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.attach-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.attach-li {
  width: 44px;
  height: 44px;
}

.attach-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3e3e;
  opacity: 90%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.attach-svg {
  fill: #ffffff;
}

.attach-link:hover,
.attach-link:focus {
  background-color: #2196f3;
}

.subscribe {
  margin-left: 93px;
  padding-top: 10px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.subscribe-button:hover,
.subscribe-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-svg-close {
  margin-left: 10px;
}

.portfolio-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  padding: 6px 25px 6px 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  text-decoration: none;
  border-radius: 4px;
  display: block;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-h3-p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.port-text-div {
  position: relative;
  overflow: hidden;
}

.port-text-img {
  position: absolute;
  top: 6px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-shadow {
  display: block;
  text-decoration: none;
  transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-shadow:hover,
.port-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-shadow:hover .port-text-img {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-item {
  outline: 1px solid #eeeeee;
  position: relative;
}

.portfolio-h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-grey);
  text-decoration: none;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #afb1b8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modal-fill:hover,
.modal-fill:focus {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;
}

.modal-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.input-wraper {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;
}

.modal-input-textarea:focus {
  border-color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.chek-umov {
  color: #2196f3;
  text-decoration: underline;
}

.modal-chek-textt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-chek-textt span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox:checked + .modal-chek-textt span {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */