.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

:root {
  --black: #000000;
  --blue: #2196f3;
  --dark-grey: #212121;
  --grey: #757575;
  --dark-blue: #2f303a;
  --white: #ffffff;
  --background-team: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid #ececec;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__header-f {
  display: flex;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}

.header__logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.nav-ul__nav {
  display: flex;
  margin-left: 68px;
}
@media screen and (max-width: 768px) {
  .nav-ul__nav {
    display: none;
    margin-right: 90px;
  }
}

.nav-ul__nav-li {
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
}

.nav-ul__nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav-ul__nav-item:hover, .nav-ul__nav-item:focus {
  color: var(--blue);
}

.nav-ul {
  margin-right: auto;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
}

.header__header-email {
  display: block;
  display: flex;
  /*margin-right: 50px;
  margin-left: 10px;*/
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 7px;
}
.header__header-email:hover, .header__header-email:focus {
  color: #2196f3;
}

.header__header-tel {
  display: block;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__header-tel:hover, .header__header-tel:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .header__header-tel {
    margin-left: 10px;
  }
}

.header__header-cont-div {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .header__header-cont-div {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .header__header-cont-div {
    display: none;
  }
}

.header__soc-svg-header {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email:hover .header__soc-svg-header {
  fill: #2196f3;
}
.header-email:focus .header__soc-svg-header {
  fill: #2196f3;
}
.header-tel:hover .header__soc-svg-header {
  fill: #2196f3;
}
.header-tel:focus .header__soc-svg-header {
  fill: #2196f3;
}

.header__contct-fill {
  display: flex;
  justify-content: center;
  fill: #afb1b8;
  justify-items: baseline;
}

.menu-open-div {
  display: flex;
}

.menu-open {
  align-items: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

.menu-mob-li {
  margin-top: 10px;
  margin-bottom: 32px;
}

.menu-mob-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.menu-mob-item:hover, .menu-mob-item:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob-contact {
  margin-bottom: 32px;
}

.menu-mob-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.menu-mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.menu-mob-soc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
  display: flex;
  margin-top: 64px;
}

.mob-palka {
  color: rgba(33, 33, 33, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img_mob2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img_tab.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img_tab2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_hero2x.jpg);
  }
}

.hero__hero-h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 19px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 480px) {
  .hero__hero-h1 {
    max-width: 100%;
    font-size: 26px;
    line-height: 1.615;
  }
}
@media screen and (min-width: 1200px) {
  .hero__hero-h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__hero-btn {
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__hero-btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.about__about-list-li {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__about-list-li {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__about-list-li {
    width: calc((100% - 90px) / 4);
  }
}

.about__about-list-h {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-grey);
  text-align: center;
  width: 100%;
}

.about__about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.about__about-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about__about-icon {
  background-color: #f5f4fa;
}

.what {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .what {
    display: none;
  }
}

.what-h2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.what-ul {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.what-item {
  position: relative;
}

.what-text {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  bottom: 0;
}

.team {
  background: var(--background-team);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-h2 {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
@media screen and (min-width: 1200px) {
  .team-h2 {
    font-size: 36px;
  }
}

.team-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-h3-p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-bottom: 16px;
}

.soc-team-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-team-li {
  width: 44px;
  height: 44px;
}

.soc-team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-team-link:hover, .soc-team-link:focus {
  background-color: #2196f3;
}

.soc-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-team-link:hover .soc-svg {
  fill: #ffffff;
}
.soc-team-link:focus .soc-svg {
  fill: #ffffff;
}

.clients-pad {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients-pad {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-h2 {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
@media screen and (min-width: 1200px) {
  .clients-h2 {
    font-size: 36px;
  }
}

.clients-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .clients-li {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-li {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 2px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-svg {
  fill: #2196f3;
}
.clients-link:focus .clients-svg {
  fill: #2196f3;
}

.footer {
  background: var(--dark-blue);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white);
}

.footer-pad {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-pad {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.footer-ul {
  display: flex;
}

.footer-li {
  margin-bottom: 9px;
}

.footer-adress {
  margin-top: 20px;
}

.footer-maps {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-maps:hover, .footer-maps:focus {
  color: var(--blue);
}

.footer-email {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email:hover, .footer-email:focus {
  color: var(--blue);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--blue);
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    justify-content: space-around;
  }
}

.attach {
  padding-top: 51px;
}
@media screen and (min-width: 768px) {
  .attach {
    padding-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .attach {
    padding-left: 70px;
  }
}

.attach-p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .attach-p {
    text-align: left;
  }
}

.attach-ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.attach-li {
  width: 44px;
  height: 44px;
}

.attach-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3e3e;
  opacity: 90%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.attach-link:hover, .attach-link:focus {
  background-color: #2196f3;
}

.attach-svg {
  fill: #ffffff;
}

.subscribe {
  /*margin-left: 93px;*/
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    padding-top: 1px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe {
    padding-left: 93px;
  }
}

.subscribe-input {
  width: 448px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 348px;
  }
}

.subscribe-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.subscribe-button:hover, .subscribe-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-button-center {
  display: flex;
  justify-content: center;
}

.subscribe-svg-close {
  margin-left: 10px;
}

.subscribe-button-media {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe-button-media {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-button-media {
    padding-top: 17px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-button-media {
    padding-left: 12px;
  }
}

.portfolio-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-btn {
  padding: 6px 25px 6px 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
  text-decoration: none;
  border-radius: 4px;
  display: block;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-h3-p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.port-text-div {
  position: relative;
  overflow: hidden;
}

.port-text-img {
  position: absolute;
  top: 6px;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-shadow:hover .port-text-img {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-shadow {
  display: block;
  text-decoration: none;
  transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-shadow:hover, .port-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.porfolio-item {
  outline: 1px solid #eeeeee;
  position: relative;
}

.portfolio-h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-grey);
  text-decoration: none;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #afb1b8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modal-fill:hover, .modal-fill:focus {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wraper {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;
}
.modal-input-textarea:focus {
  border-color: #2196f3;
}

.modal-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.chek-umov {
  color: #2196f3;
  text-decoration: underline;
}

.modal-chek-textt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-chek-textt span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.checkbox:checked + .modal-chek-textt span {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */