.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about__about-list {
  display: flex;
  gap: 30px;
}
.about__about-list-li {
  width: 270px;
}
.about__about-list-h{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-grey);
}
.about__about-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.about__about-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about__about-icon {
  background-color: #f5f4fa;
}