.clients-pad {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-h2 {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}
.clients-ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-li {
}

.clients-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 2px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
   border: 1px solid #2196f3;
  }
}

.clients-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients-link:hover & {
    fill: #2196f3;
      
  }
  .clients-link:focus & {
    fill: #2196f3;
  }
}

