.portfolio-h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filter-h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .filter-ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
  }
  
  .filter-item {
  }
  .filter-btn {
    padding: 6px 25px 6px 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
    text-decoration: none;
    border-radius: 4px;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--blue);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  

  