.footer {
    background: var(--dark-blue);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-footer {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white);
  }
  .footer-pad {
  }
  .footer-ul {
    display: flex;
  }
  
  .footer-li {
    margin-bottom: 9px;
  }
  
  .footer-adress {
    margin-top: 20px;
  }
  
  .footer-maps {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
  
 
  
  .footer-email {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
  
 
  
  .footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
  
 
  .footer-flex {
    display: flex;
  }
  .attach {
    margin-left: 70px;
    padding-top: 10px;
  }
  .attach-p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .attach-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .attach-li {
    width: 44px;
    height: 44px;
  }
  .attach-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f3e3e;
    opacity: 90%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #2196f3;
    }
  }
  
  .attach-svg {
    fill: #ffffff;
  }
  
  
  
  .subscribe{
    margin-left: 93px;
    padding-top: 10px;
  
  
  
  }
  
  .subscribe-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
  
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   
  }
  
  .subscribe-button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 45px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background: var(--blue);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    &:hover,
    &:focus{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    }
  }
  
  
  
  .subscribe-svg-close{
    margin-left: 10px;
  }