  .container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    outline: 1px solid #ececec; 
    position: relative;
  }
  .header__header-f {
    display: flex;
    align-items: center;
  }
  .header__logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black);
  }
  .header__logo-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue);
  }
  
  .nav-ul__nav {
    display: flex;
    margin-left: 68px;
  }
  
  .nav-ul__nav-li {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    
  }
  
  .nav-ul__nav-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:hover,
    &:focus {
     color: var(--blue);
    }
  }
  
  
  .nav-ul {
    margin-right: auto;
  }
  
  .current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: -32px;
  }
  
  .header__header-email {
    display: block;
    display: flex;
    margin-right: 50px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
     color: #2196f3;
    }
  }
  
  .header__header-tel {
    display: block;
    display: flex;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
  
  .header__header-cont-div {
    display: block;
    display: flex;
    justify-content: center;
  }
  
  .header__soc-svg-header {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .header-email:hover & {
      fill: #2196f3;}
    .header-email:focus & {
      fill: #2196f3; }
    .header-tel:hover & {
        fill: #2196f3;}
    .header-tel:focus & {
        fill: #2196f3;}
  }

  
  .header__contct-fill {
    display: flex;
    justify-content: center;
    fill: #afb1b8;
    justify-items: baseline;
  }
  
  
  
  
 
  

