.porfolio-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-h3-p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .port-text-div {
    position: relative;
    overflow: hidden;
  }
  .port-text-img {
    position: absolute;
    top: 6px;
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    transform: translateY(100%);
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    .port-shadow:hover & 
      transform: translateY(0);
      transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }
  
  .port-shadow {
    display: block;
    text-decoration: none;
    transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }
   }
  
  

  
  .porfolio-item {
    outline: 1px solid #eeeeee;
    position: relative;
  }
  .portfolio-img {
  }
  
  .portfolio-h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-grey);
    text-decoration: none;
  }
  
  .portfolio-p {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--grey);
    text-decoration: none;
  }