.team {
    background: var(--background-team);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-h2 {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
  }
  .team-ul {
    display: flex;
    gap: 30px;
  }
  .team-item {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team-img {
  }
  
  .team-h3-p {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-name {
    padding-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-grey);
  }
  .team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin-bottom: 16px;
  }
  
  .soc-team-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .soc-team-li {
    width: 44px;
    height: 44px;
  }
  .soc-team-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #2196f3;
    }
    
  }
  
  .soc-svg {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .soc-team-link:hover & {
      fill: #ffffff;}
    .soc-team-link:focus & {
      fill: #ffffff;}
  }
  
 
  

 